/* set the menu icon for the post index admin page */
#icon-edit.icon32-posts-wp-models-shoot {
	background: url(../images/shoot-32x32.png) no-repeat;
}

.wp-models-media-container
{
	clear: both;
}

.wp-models-plupload
{
}

.wp-models-toggle
{
	float: right;
}

.wp-models-shoot-pic
{
	width: 	18%;
	float: left;
	margin: 1em 1%;
	min-width: 100px;
}

.wp-models-shoot-pic img
{
	width: 100%;
}

.wp-models-player video
{
	max-width: 50%;
}
/* Media Queries */